%aside
  %p
    Vous êtes sur mon site perso. J'y publie de manière très aléatoire, de tout et de rien.

  %p
    Vous pouvez me trouver à plein d'endroits différents :

  %ul
    %li.twitter
      %a(href="https://twitter.com/_crev_" target="_blank")
        @_crev_
    %li.gplus
      %a(href="https://plus.google.com/112813954986166280487" target="_blank")
        g+
    %li.viadeo
      %a(href="http://fr.viadeo.com/fr/profile/yves.brissaud" target="_blank")
        viadeo
    %li.github
      %a(href="http://github.com/eunomie" target="_blank")
        eunomie
    %li.coderwall
      %a(href="https://coderwall.com/crev" target="_blank")
        crev
    %li.linkedin
      %a(href="http://fr.linkedin.com/pub/yves-brissaud/54/829/49a" target="_blank")
        linkedin