%header
  %nav
    %ul
      %li
        %a.icon-home{:href => link_to("")}
          Accueil
      %li
        %a.icon-calendar{:href => link_to("archives")}
          Archives
      %li
        %a.icon-rss{:href => link_to("atom.xml")}
          Atom
      %li
        %a.icon-book{:href => link_to("cv")}
          CV
      %li
        %a.icon-user{:href => link_to("about")}
          À propos
  .hire-me
    %p
      Vous cherchez un
      %strong
        talentueux développeur/architecte Web
      , Javascript (7 ans d'expérience), Java, Ruby ? Ça tombe bien je suis disponible !
    %p
      Pour plus d'informations, cliquez les liens ci-dessus.